@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    background-color: #222222;
    font-family: 'Fira Sans', sans-serif;
}

ul {
    list-style: none;
}

li {
    color: #ACB109;
    float: left;
    font-size: 1.2em;
    opacity: 0.7;
    margin: 0.5em;
    width: 10em;
}

img {
   width: 10em;
}

li:hover {
    opacity: 1;
}

.button {
    margin: 0.2em;
}

.toolbar {
    color: #FFF;
    font-size: 1em;
    height: 2em;
}